@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap'); /* font */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    background: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background: #fff;
    margin: 50px;
    display: grid;
    grid-template-columns: 1.03fr 2fr;
    box-shadow: 0 35px 55px rgba(0,0,0,0.1);
}

.container .left_Side {
    position: relative;
    background: #364969; /* 003147 151D3B */
    padding: 40px;
}

.profileText {
    position: relative;
    display: flew;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}
.profileText .imgBx {
    position: relative;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
}

.profileText .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.profileText h2{
    color: #fff;
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
}

.profileText h2 span{
    font-size: 0.8em;
    font-weight: 300;
}


.contactInfo {
    padding-top: 40px;
}

input {
	width: 90%;
  	height: 25px;
  	padding: 3px;
  	font-size: 0.8rem;
  	border: 1px solid gray;
}

.title {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.contactInfo ul {
    position: relative;
}

.contactInfo ul li {
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}

.contactInfo ul li .icon {
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: #03a9f4;
}

.contactInfo ul li span {
    color: #fff;
    font-weight: 300;
}

.contactInfo ul li a,
.contactInfo ul li a:visited,
.contactInfo ul li a:hover,
.contactInfo ul li a:active {
    color: #fff;
    font-weight: 300;
    text-decoration: none;
}

.contactInfo.education li {
    margin-bottom: 15px;
}

.contactInfo.education h5 {
    color: #03a9f4;
    font-weight: 500;
}

.contactInfo.education h4:nth-child(2) {
    color: #fff;
    font-weight: 500;
}

.contactInfo.education h4 {
    color: #fff;
    font-weight: 300;
}

.container .right_Side {
    position: relative;
    background: #fff;
    padding: 25px;
}

.about {
    margin-bottom: 50px;
}

.about:last-child {
    margin-bottom:0 ;
}

.title2 {
    color: #364969;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

p {
    color: #333;
    text-align: justify;
    text-justify: inter-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}


span.longer-name {
    display:none;
}

.end1{
    opacity: 0.9;
}

.end2{
    opacity: 0.8;
}

.end3{
    opacity: 0.7;
}

.end4{
    opacity: 0.6;
}

.end5{
    opacity: 0.5;
}

.end6{
    opacity: 0.4;
}

.end7{
    opacity: 0.3;
}

.end8{
    opacity: 0.2;
}

.end9{
    opacity: 0.1;
}

.end10{
    opacity: 0.05;
}

.text:hover span.short-name{
    display:none;
}

.text:hover span.longer-name{
    display:block;
}

.about .box {
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}

.about .box .year_company {
    min-width: 150px;
    max-width: 151px;
}

.about .box .year_company h5 {
    text-transform: uppercase;
    color: #848c90;
    font-weight: 600;
}

.about .box .text h4 {
    text-transform: uppercase;
    color: #2a7da2;
    font-size: 16px;
}



@media (max-width: 1000px) {

    .container {
        margin: 10px;
        grid-template-columns: repeat(1,1fr);
    }
    .interest ul {
        font-size: small;
        display: inline-block;
        grid-template-columns: repeat(2,1fr);
    }

    .profileText .imgBx {
        display: block;
        margin: 0 auto;
    }
    
}

.interest ul {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    
}

.interest ul li {
    list-style: none;
    color: #333;
    font-weight: 500;
    margin: 10px 0;
}

.interest ul li svg {
    display: inline-block;
    color: #03a9f4;
    font-size: 20px;
    width: 30px;
    vertical-align: middle;
}

.interest ul li.icon_python svg {
    display: inline-block;
    color: #d8c624;
    font-size: 20px;
    width: 30px;
    vertical-align: middle;
}



@media (max-width: 600px) {

    .about .box {
        flex-direction: column;
    }
    .about .box .year_company {
        margin-bottom: 5px;
    }
    .interest ul {
        font-size: small;
        display: inline-block;
        grid-template-columns: repeat(1,1fr);
    }
    .profileText .imgBx {
        display: block;
        margin: 0 auto;
    }
}